body {
  position:relative;
}

.collapse-text-toggle {
    font-size: 0.9em;
    color: #666666;
    cursor: pointer;
}
.collapse-text-toggle:hover {
    color: #222222;
}
.collapse-text-toggle:before {
    content: '\00a0(';
}
.collapse-text-toggle:after {
    content: ')';
}

.github-corner {
    z-index:10000000
}

.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
    0%,100%{
        transform:rotate(0)
    }
    20%,60%{
        transform:rotate(-25deg)
    }
    40%,80%{
        transform:rotate(10deg)
    }
}
@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }
    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}