<md-toolbar ng-controller="TuningToolbarController" ng-show="show_toolbar">
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
        <span flex></span>
        <span layout="row" layout-sm="column">
            <md-button class="md-raised md-secudary" ng-click="showShareURL($event)" aria-label="Get the share URL">
            share!
            </md-button>
            <md-button class="md-raised md-secudary" ng-click="openExportURL()" aria-label="Export to SQL or config file">
            Export
            </md-button>
        </span>
    </div>
</md-toolbar>