<!DOCTYPE html>
<html lang="en" ng-app="pgConfig">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PostgreSQL Configuration Tool</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" media="all" rel="stylesheet">
    <link href="css/jumbotron.css" media="screen" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="ConfigurationController">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header"><a href="https://github.com/sebastianwebber/pgconfig"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
          <a class="navbar-brand" href="#">
            <h3>PostgreSQL Configuration Tool
              <small><sup ng-model="pgconfig.version" ng-init="pgconfig.version=1.0"></sup></small></h3></a>
        </div>

      <ul class="nav navbar-nav navbar-right" id="context-menu">
        <!-- <li><a href="#pgsql-related">PostgreSQL</a></li> -->
        <!-- 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron hidden-print">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form action="#" method="post" class="form-horizontal">            
                <fieldset>
                    <legend>Server Details</legend>
                    <div class="form-group">
                        <!-- <div class="col-sm-4">
                            <label for="cpu_count">CPU cores</label>
                            <input class="form-control" id="cpu_count" name="server[cpu_count]" required="true" size="30" type="text" />
                        </div> -->
                        <div class="col-sm-12">
                            <label for="total_memory">Total Memory</label>
                            <div class="input-group">
                              <input class="form-control" id="total_memory" name="server[total_memory]" required="true" size="30" type="text" ng-model="form.total_ram" ng-init="form.total_ram=2" />
                              <span class="input-group-addon">GB</span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <label for="db_size">Database size</label>
                            <div class="input-group">
                              <input class="form-control" id="db_size" name="server[db_size]" required="true" size="30" type="text" value="10" />
                              <span class="input-group-addon">GB</span>
                            </div>
                            
                        </div> -->
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="max_connections">Total Connections</label>
                            <input class="form-control" id="max_connections" name="server[max_connections]" required="true" size="30" type="text" value="100" ng-model="form.max_connections" ng-init="form.max_connections=100" />
                        </div>
                        <div class="col-sm-8">
                            <label for="pg_version">Version</label>
                            <select class="form-control" id="pg_version" name="server[pg_version]" ng-model="form.version" ng-init="form.version=9.4">
                                <option value="9.3">9.3.x</option>
                                <option value="9.4" selected="selected">9.4.x</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" id="b_generate" class="btn btn-primary btn-lg" onclick="return false;">Generate</button>
                </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="visible-print">
      <div class="row">
        <div class="col-md-12" style="padding-left: 0px;">
          <h1>PostgreSQL Configuration Tool
              <small><sup class="pgconfig_version"></sup></small></h1></a>
        </div>
      </div>
      </div>

      <!-- Example row of columns -->
      <div class="row" id="generated_data">
        <div class="col-md-12">
            <p class="text-center">Input your server details and press generate.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h3>PostgreSQL Related</h3>
          </div>
          <div class="panel panel-default" ng-repeat="categories in pgsql_parameters">
            <div class="panel-heading">{{ categories.category }}</div>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="col-sm-7">Parameter</th>
                  <th class="col-sm-1" ng-repeat="env in enviroments"> {{ env.name }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="parm in categories.parameterList">
                  <td>
                    <a href="{{ parm.doc_url | adjust_version : form.version }}">{{ parm.name }}</a>
                  </td>
                  <td class="col-sm-1" ng-repeat="env in enviroments">
                    <span ng-repeat="rule in parm.rules | filter: env.name" title="{{rule.formula}}">{{rule.formula | process_formula : form.total_ram : parm.max_value : form.max_connections | bytes }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

<!-- 
  <ul>
    <li ng-repeat="categories in pgsql_parameters">
      <p>{{env.category}}</p>
    </li>
  </ul> -->



      <footer>
              <hr>

        <p>Developed by <a href="http://github.com/sebastianwebber">Sebastian Webber</a>. Based on pgtune.</p>
      </footer>
    </div> <!-- /container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/pgconfig.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
