<div ng-controller="TuningController" layout="column" flex layout-fill ng-cloak>
    <ng-include src="'/app/partials/tuning-toolbar.html'"></ng-include>
    <ng-include src="'/app/partials/tuning-menu.html'"></ng-include>
    <md-content>
        <section ng-repeat="category in api_data">
            <md-subheader class="md-primary">{{category.description}}</md-subheader>
            <md-list layout-padding>
                <md-list-item class="md-3-line" ng-repeat="param in category.paramaters" style="margin-bottom: 10px;">
                    <div class="md-list-item-text">
                        <h3>{{param.name}} ({{param.documentation.type}})</h3>
                        <h4>Sugested value: {{ param.config_value }}</h4>
                        <p ng-repeat="doc_line in param.documentation.details" >{{doc_line}}</p>
                    </div>
                </md-list-item>
            </md-list>

        </section>
    </md-content>
</div>